
/* Body Section */
body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black';
}

p {
  color: #8f8f8f;
}

/* Container */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #FF4C68;
  color: #fff;
}

.white-section {
  background-color: white;
}

/* Navigation-Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

.title-image {
  position: absolute;
  width: 50%;
  transform: rotate(25deg);
  z-index: 0;
  right: 25%;
}

.title-div {
  position: relative;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Headings */

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.75rem;
  line-height: 1.5;
  font-weight: 900;

}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;
}

.features-row {
  padding: 5.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 1%;
}

.price-text {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

/* Footer Section */


.download-button-footer {
margin: 2% 1% 2% 0;
}

.social-icon {
  margin: 20px 10px;
}


/* Media Section */

@media (max-width: 1000px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
